<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Externalized Configuration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <style>
        body {
          padding-top: 5rem;
        }
        h1 {
          padding: 3rem 1.5rem;
          text-align: center;
        }
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="https://github.com/JavaWiz">Javawiz</a>
</nav>
<div class="container starter-template">
    <h1>Spring Boot @ConfigurationProperties</h1>
    <table class="table table-dark">
        <thead>
            <tr>
            <th>Currency Code</th>
            <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry, stat : ${map}">
                <td th:text="${entry.key}"></td>
                <td>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>Text</th>
                                <th>Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="currency : ${entry.value}">
                                <td th:text="${currency.symbol}"></td>
                                <td th:text="${currency.text}"></td>
                                <td th:text="${currency.country}"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>